<a href="https://colab.research.google.com/github/harnalashok/classification/blob/main/airways_r.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# R code

In [1]:
# prompt: write r code to read a csv file

# Install and load the readr package if not already installed
if(!require(readr)){install.packages("readr")}
library(readr)

# Replace 'your_file.csv' with the actual file path
df <- read_csv("https://raw.githubusercontent.com/harnalashok/classification/refs/heads/main/data/airways_mod_ver4.csv")

# Print the first few rows of the data frame to verify
head(df)

Loading required package: readr

Rows: 1000 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (1): sex
dbl (12): age, height, subluxation of mandible, head and neck movement, buck...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  age sex    height subluxation of mandible head and neck movement buck teeth
1 22  male   172    1                       0                      1
2 55  female 143    1                       0                      1
3 59  male   162    2                       1                      0
4 48  female 168    1                       0                      0
5 51  female 154    3                       0                      0
6 56  male   182    1                       1                      1
  edentulous bmi   sternomental distance thyromental distance mallampatti
1 0          22.40 17.0                  8.6                  2
2 0          27.45 16.0                  7.8                  2
3 1          24.20 14.3                  6.9                  3
4 0          28.50 15.6                  7.2                  3
5 1          25.30 14.3                  6.7                  4
6 0          30.00 20.0                  9.7                  2
  mouth opening cormack lahane
1 0             2
2 0             1
3 0             3
4 0             2
5 1             4
6 0             3